html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(to right, #fffbd5, #db2247);
  margin: 0;
}

#about {
  height: 100vh;
  display: flex;
  flex-flow: column;
  text-align: center;
  padding: 0 20%;
}

.navbar {
  height: 100vh;
  width: 10%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  padding: 10px;
  margin: 0 0 5px;
  position: fixed;
  backdrop-filter: brightness(98%);
}

.nav-items {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 10%;
}

.nav-link {
  font-size: 2rem;
  padding: 0 100%;
  color: black;
  margin: 2rem 0.4rem;
  width: 100%;
}

section {
  display: flex;
  flex-flow: column;
  text-align: center;
  align-items: center;
  padding: 0 20%;
}

a {
  text-decoration: none;
}

a:hover {
  color: #db2247;
}

h3 {
  font-family: "Lora";
  font-size: 5rem;
  margin: 30px 0 40px;
  color: black;
}

h2 {
  font-family: "Lora";
  font-size: 6rem;
  margin-bottom: 0;
}

#about p {
  font-family: "Bacasime Antique";
  font-size: 3rem;
}

/* #education h3 {
  font-family: "Lora";
  font-size: 5rem;
  margin: 20px 0 20px;
  color: black;
} */

.title-image {
  width: 100px;
  margin-bottom: 10px;
}

.paper {
  margin: 10px 0;
  background-color: #f2eecb;
  padding: 10px;
  height: 400px;
  width: 400px;
}

.paper p {
  font-size: 1.8rem;
}

.checkbox {
  width: 25px;
}

.flex-container {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 30px;
  margin: 40px 0 20px;
}

.card {
  height: 400px;
  width: 300px;
}

.skill-card {
  position: relative;
  border: 2px solid #000000;
  margin-bottom: 10px;
}

.card-image {
  position: absolute;
  z-index: 1;
  background-color: #1ae8c2;
}

.card-content {
  position: absolute;
}

.card-image:hover {
  opacity: 0;
}

.skill-image {
  width: 100px;
  margin: 30% 10% 10%;
}

.skill-card p {
  font-family: "Bacasime Antique";
  font-size: 3rem;
}

.card-content p {
  font-size: 2rem;
}

#projects .title-image {
  margin-bottom: 30px;
}

.project-card {
  height: 400px;
  width: 600px;
  display: grid;
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: 70% 30%;
  margin: 20px 0 20px;
  border: 2px solid #000000;
}

.project-name p {
  font-size: 1.3rem;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.project-img {
  width: 100%;
}

.project-image {
  grid-area: 1/ 1/ 2/ 4;
}

.btn {
  display: block;
  text-align: center;
  margin: 6% 20% 2% 30%;
  width: 43%;
  border-radius: 10px;
  background-color: #db2247;
  color: #fffbd5;
}

.btn:hover {
  background-color: #fffbd5;
  color: #db2247;
}

.project-details {
  border-left: 2px solid #000000;
  grid-area: 2/ 2 / 2 / 4;
  font-size: 1.2rem;
  font-family: "Bacasime Antique";
}

#contact h3 {
  font-family: "Lora";
  font-size: 3rem;
  margin: 30px 0;
  color: black;
}

.social-handles {
  width: 300px;
}

.social {
  width: 50px;
  margin: 10px 20px;
}

@media (max-width: 600px) {
  .navbar {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 6px 0;
    margin: 0 0 2px;
    position: static;
    backdrop-filter: brightness(1000%);
  }

  .nav-items {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
  }

  .nav-link {
    font-size: 20px;
    padding: 0 2px;
    color: black;
    margin: 20px 5px;
    width: 100%;
  }

  #about {
    padding: 20px;
    margin-bottom: 200px;
  }

  #about p {
    font-family: "Poppins";
    font-size: 2.5rem;
  }

  #education p {
    font-family: "Poppins";
  }

  .paper {
    height: 550px;
    width: 350px;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
  }

  .skill-card p {
    font-family: "Poppins";
    font-size: 2.5rem;
  }

  .card-content p {
    font-size: 2rem;
  }

  #projects .title-image {
    margin-bottom: 30px;
  }

  .project-card {
    height: 400px;
    width: 350px;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 40% 60%;
    margin: 20px 0 20px;
    border: 2px solid #000000;
  }

  .project-name p {
    font-size: 1.3rem;
    text-align: center;
    text-decoration: none;
    color: #000000;
  }

  .project-img {
    width: 100%;
  }

  .project-image {
    grid-area: 1/ 1/ 2/ 4;
  }

  .btn {
    display: block;
    text-align: center;
    margin: 6% 20% 2% 30%;
    width: 43%;
    border-radius: 10px;
    background-color: #db2247;
    color: #fffbd5;
  }

  .btn:hover {
    background-color: #fffbd5;
    color: #db2247;
  }

  .project-details {
    border-left: 2px solid #000000;
    grid-area: 2/ 2 / 2 / 4;
    font-size: 1rem;
    font-family: "Poppins";
  }
}

@media (min-width: 601px) and (max-width: 800px) {
  #about {
    height: 100vh;
    display: flex;
    flex-flow: column;
    text-align: center;
    padding: 0 5%;
    margin: 0 50% 50%;
  }

  .navbar {
    width: 20%;
  }

  .nav-link {
    font-size: 1.7rem;
  }

  section {
    display: flex;
    flex-flow: column;
    text-align: center;
    align-items: center;
    padding: 0 5%;
    margin: 5% 50%;
  }

  h3 {
    font-family: "Lora";
    font-size: 3.5rem;
    margin: 30px 0 40px;
    color: black;
  }

  h2 {
    font-family: "Lora";
    font-size: 4rem;
    margin-bottom: 0;
  }

  #about p {
    font-family: "Poppins";
    font-size: 2rem;
  }

  .title-image {
    width: 100px;
    margin-bottom: 10px;
  }

  .paper {
    margin: 10px 0;
    background-color: #f2eecb;
    padding: 10px;
    height: 400px;
    width: 350px;
  }

  .paper p {
    font-size: 1.8rem;
  }

  .checkbox {
    width: 25px;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 40px 0 20px;
  }

  .card {
    height: 400px;
    width: 300px;
  }

  .skill-card {
    position: relative;
    border: 2px solid #000000;
    margin-bottom: 10px;
  }

  .card-image {
    position: absolute;
    z-index: 1;
    background-color: #1ae8c2;
  }

  .card-content {
    position: absolute;
  }

  .card-image:hover {
    opacity: 0;
  }

  .skill-image {
    width: 100px;
    margin: 30% 10% 10%;
  }

  .skill-card p {
    font-family: "Poppins";
    font-size: 2.5rem;
  }

  .card-content p {
    font-size: 2rem;
  }

  #projects {
    margin: 5% 0 5% 10%;
    font-family: "Poppins";
  }

  #projects .title-image {
    margin-bottom: 30px;
  }

  .project-card {
    height: 500px;
    width: 70%;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 30% 70%;
    margin: 20px 0 20px;
    border: 2px solid #000000;
  }

  .project-name p {
    font-size: 1.3rem;
    text-align: center;
    text-decoration: none;
    color: #000000;
  }

  .project-img {
    width: 100%;
    height: 100%;
  }

  .project-image {
    grid-area: 1/ 1/ 2/ 4;
  }

  .btn {
    display: block;
    text-align: center;
    margin: 6% 20% 2% 30%;
    width: 43%;
    border-radius: 10px;
    background-color: #db2247;
    color: #fffbd5;
  }

  .btn:hover {
    background-color: #fffbd5;
    color: #db2247;
  }

  .project-details {
    border-left: 2px solid #000000;
    grid-area: 2/ 2 / 2 / 4;
    font-size: 1.3rem;
    font-family: "Poppins";
  }

  #contact h3 {
    font-family: "Lora";
    font-size: 3rem;
    margin: 30px 0;
    color: black;
  }

  .social-handles {
    width: 300px;
  }

  .social {
    width: 50px;
    margin: 10px 20px;
  }
}

/* @media (min-width: 801px) and (max-width: 1000px) {
  #about {
    height: 100vh;
    display: flex;
    flex-flow: column;
    text-align: center;
    padding: 0 5%;
    margin: 0 40% 30%;
  }

  .navbar {
    width: 20%;
  }

  .nav-link {
    font-size: 1.7rem;
  }

  section {
    display: flex;
    flex-flow: column;
    text-align: center;
    align-items: center;
    padding: 0 5%;
    margin: 5% 40%;
  }

  h3 {
    font-family: "Lora";
    font-size: 3.5rem;
    margin: 30px 0 40px;
    color: black;
  }

  h2 {
    font-family: "Lora";
    font-size: 4rem;
    margin-bottom: 0;
  }

  #about p {
    font-family: "Poppins";
    font-size: 2rem;
  }

  .title-image {
    width: 100px;
    margin-bottom: 10px;
  }

  .paper {
    margin: 10px 0;
    background-color: #f2eecb;
    padding: 10px;
    height: 400px;
    width: 350px;
  }

  .paper p {
    font-size: 1.8rem;
  }

  .checkbox {
    width: 25px;
  }

  .flex-container {
    display: grid;
    grid-template-columns: 30% 50% 30%;
    grid-template-rows: 50% 50%;
    gap: 30px;
    margin: 40px 0 20px;
  }

  .card {
    height: 400px;
    width: 300px;
  }

  .skill-card {
    position: relative;
    border: 2px solid #000000;
    margin-bottom: 10px;
  }

  .card-image {
    position: absolute;
    z-index: 1;
    background-color: #1ae8c2;
  }

  .card-content {
    position: absolute;
  }

  .card-image:hover {
    opacity: 0;
  }

  .skill-image {
    width: 100px;
    margin: 30% 10% 10%;
  }

  .skill-card p {
    font-family: "Poppins";
    font-size: 2.5rem;
  }

  .card-content p {
    font-size: 2rem;
  }

  #projects {
    margin: 5% 0 5% 10%;
    font-family: "Poppins";
  }

  #projects .title-image {
    margin-bottom: 30px;
  }

  .project-card {
    height: 500px;
    width: 70%;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 30% 70%;
    margin: 20px 0 20px;
    border: 2px solid #000000;
  }

  .project-name p {
    font-size: 1.3rem;
    text-align: center;
    text-decoration: none;
    color: #000000;
  }

  .project-img {
    width: 100%;
    height: 100%;
  }

  .project-image {
    grid-area: 1/ 1/ 2/ 4;
  }

  .btn {
    display: block;
    text-align: center;
    margin: 6% 20% 2% 30%;
    width: 43%;
    border-radius: 10px;
    background-color: #db2247;
    color: #fffbd5;
  }

  .btn:hover {
    background-color: #fffbd5;
    color: #db2247;
  }

  .project-details {
    border-left: 2px solid #000000;
    grid-area: 2/ 2 / 2 / 4;
    font-size: 1.3rem;
    font-family: "Poppins";
  }

  #contact h3 {
    font-family: "Lora";
    font-size: 3rem;
    margin: 30px 0;
    color: black;
  }

  .social-handles {
    width: 300px;
  }

  .social {
    width: 50px;
    margin: 10px 20px;
  }
} */
